@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --azulejo:       ;
    --violeta: #D500CE;
    --degradado3:linear-gradient(90deg, var(--lima),var(--celezul));
    --celezul:#3D8CFF;
    --lima:#00FF40;
    --amarillo:#FFD20F;
    --naranja:#FF9C2A;
    --degradado2:linear-gradient(90deg, var(--amarillo),var(--naranja));
    --texto2:#333;     
    --texto1:#666;    
    --verde:#0c443a;
    --limon:#25d1b2;
    --degradado:linear-gradient(90deg, var(--limon),var(--verde));
    --rojo-n:#D90E0D;
    --rojno:#810100;
    --navidad:linear-gradient(90deg, var(--rojno),var(--rojo-n));
    --nav:#870000;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection{
    background: var(--limon);
    color: white;
}

html{
    font-size: 62.4%;
    overflow-X: hidden;
}

body{
    background: #f9f9f9;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--navidad);
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    box-shadow:  0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s  linear;
}

.btn2{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado3);
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    box-shadow:  0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s  linear;
}

.btn2:hover{
    transform: scale(1.1);
}

.btn:hover{
    transform: scale(1.1);
}

.had{
    text-align: center;
    background: var(--rojo-n);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.had1{
    text-align: left;
    background: var(--verde);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color: var(--verde);
}

header .navbar{
    background-image: url(img/005853b951ad6c6.jpg);
    height: 40px;
    background-position: center;
}

header .logo span{
    color: var(--limon);
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--rojno);
}

header .navbar a:hover{
    color: var(--rojo-n);
    background-color: #f9f9f9;

}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(verde);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

header audio{
    height: 20px;
    border-radius: 1px;
    width: 170px;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/inicio_fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio .image img{
    width: 40vh;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.inicio .cont h3{
    font-size: 3.5rem;
    color: var(--verde);
    text-transform: uppercase;
}

.inicio .cont h3 span{
    color: var(--limon);
    text-transform: uppercase;
}

.inicio .cont p{
    font-size: 1.7rem;
    color:var(--texto2);
    padding: 1rem 0;
}

.juegos .cajac{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.juegos .cajac .caja{
    flex: 1 1 30rem;
    background: white;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: 5rem;
    text-align: center;
    transition: .2s linear;
}

.juegos .cajac .caja img{
    height: 1;
}

.juegos .cajac .caja h3{
    font-size: 2rem;
    color: var(--texto2);
    padding-top: 1rem;
}

.juegos .cajac .caja p{
    font-size: 1.3rem;
    color: var(--texto1);
    padding: 1rem 0;
}

.youtubers{
    background: url(img/fondo_2.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.suscribete p{
    width: auto;
}

.youtubers .columna{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.youtubers .columna .image{
    flex: 1 1 40rem;
}

.youtubers .columna .image img{
    width: 100%;
}

.youtubers .columna .cont{
    flex: 1 1 30rem;
}

.youtubers .columna .cont h3{
    font-size: 3rem;
    color: var(--texto2);
}

.youtubers .columna .cont p{
    font-size: 1.5rem;
    color: var(--texto2);
    padding: 1rem 0;
}

.youtubers .columna .cont .botons a:last-child{
    margin-left: 2rem;
}

.suscribete{
    text-align: center;
    padding: 5rem 1rem;
    background: url(img/fondo_sub.png) no-repeat;
    background-size: cover;
    position: center
}

.suscribete h3{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

.suscribete p{
    color: white;
    font-size: 1.6rem;
    margin: 2rem auoto;
    width: 70rem;
}


.suscribete form{
    display: flex;
    max-width: 70rem;
    border: .2rem solid whitesmoke;
    padding: .5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 5.5rem;
}

.suscribete form input[type="email"]{
    padding: 0 2rem;
    font-size: 1.7rem;
    background: none;
    width: 100%;
    color: white;
    text-transform: none;
    background: none;
}

.suscribete form input[type="submit"]{
    background: white;
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    cursor: pointer;
}

.mods .cajac{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mods .cajac .caja{
    background: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    flex: 1 1 30rem;
    border-radius: .5rem;
}

.mods .cajac .caja .fa-atom{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    color: var(--verde);
    opacity: .5;
}

.mods .cajac .caja .mod img{
    object-fit: cover;
    width: 8rem;
    margin-top: 2rem;
}

.mods .cajac .caja .mod h3{
    color: var(--verde);
    font-size: 2rem;
}

.mods .cajac .caja .mod h3 a{
    color: var(--rojo-n);
}

.mods .cajac .caja .mod h3 a:hover{
    color: var(--rojno);
}

.mods .cajac .caja .mod  .stars i{
    color: var(--nav);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.mods .cajac .caja .mod .in{
    color: var(--texto2);
    font-size: 1.5rem;
    padding: 1rem;
}

.comunidad .cajac{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.comunidad .cajac .caja{
    flex: 1 1 28rem;
    margin: 1rem;
    padding: 1rem;
    background: white;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    text-align: center;
    padding-bottom: 3rem;
}

.comunidad .cajac .caja:nth-child(2),
.comunidad .cajac .caja:hover{
    border: .2rem solid var(--verde);
}

.suscribete form input[type="email"]::placeholder{
    color: whitesmoke;
    text-transform: capitalize;
}

.comunidad .cajac .caja .titulo{
    color: wheat;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.comunidad .cajac .caja .gm{
    font-size: 4rem;
    color: var(--verde);
    padding: 1rem 0;
}

.comunidad .cajac .caja .gm span{
    font-size: 2rem;
}

.comunidad .cajac .caja ul{
    padding: 1rem 0;
    list-style: none;
}

.comunidad .cajac .caja ul li{
    font-size: 1.7rem;
    color: var(--texto1);
    padding: .5rem 0;
}

.comunidad .cajac .caja ul li .fa-check{
    color: lightgreen;
}

.comunidad .cajac .caja ul li .fa-times{
    color: red;
}

form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

/* h1{
	text-align: center;
	padding: 12px;
	color: #444
} */

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: var(--limon);
	color: #f9f9f9;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
}

.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}


.contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.contactos .image{
    flex: 1 1 40rem;
}

.contactos .parra{
    font-size: 1.9rem;
    color: var(--limon);
}

.contactos .parra p{
    text-align: center;
}

.contactos .image img{
    width: 100%;
    padding: 2rem;
}

.contactos form{
    flex: 1 1 30rem;
    padding: 2rem 3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: white;
}

.contactos .had{
    text-align: center;
    padding: 0;
    padding-bottom: 2rem;
}

.contactos from .imputcaja{
    position: relative;
}

.contactos form .inputcaja input, .contactos form .inputcaja textarea{
    width: 100%;
    background: none;
    color: var(--texto1);
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
}

.contactos form .inputcaja textarea{
    resize: none;
    height: 13rem;
}

.contactos form .inputcaja label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: var(--texto2);
    transition: .2s linear;
}

.contactos form .inputcaja input:focus ~ label,
.contactos form .inputcaja input:valid ~ label,
.contactos form .inputcaja textarea:focus ~ label,
.contactos form .inputcaja textarea:valid ~label{
    top: -.5rem;
    font-size: 1.5rem;
    color: var(limon);
}

.footer{
    padding-top: 3rem;
    background: url(img/footer-fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .cajac{
    display: flex;
    flex-wrap: wrap;
}

.footer .cajac .caja{
    flex: 1 1 25rem;
}

.footer .cajac .caja h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: wheat;
    text-decoration: unset;
    text-underline-offset: 1rem;
}

.footer .cajac .caja p{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: whitesmoke;
}

.footer .cajac .caja a{
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: wheat;
}

.footer .cajac .caja a:hover{
    text-decoration: underline;
}

.footer .cajac .caja .info{
    display: flex;
    align-items: center;
}

.footer .cajac .caja .info i{
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: whitesmoke;
    color: var(--limon);
    font-size: 1.8rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .creditos{
    font-family: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: wheat;
    border-top: .1rem solid wheat;
    padding: 2.5rem 1rem;
    text-align: center;
}

.suscribete form input[type="submit"]:hover{
    color: var(--limon);
}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:990px){
    section{
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}

@media(max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0 ;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 100%;
    }

    .inicio .cont h3{
        font-size: 3.6rem;
    }

    .inicio .cont p{
        font-size: 1.5rem;
    }

    .youtubers{
        background-position: right;
    }

    header audio{
        background: var(--limon);
        width: 150px;
    }

    .contactos form .imputcaja{
        width: 1000px;
    }


}

@media(max-width:450px){
    html{
        font-size: 49%;
    }

    .youtubers .columna .cont .botons a{
        width: 100%;
        align-items: center;
    }

    .youtubers .columna .cont .botons a:last-child{
        margin: 1rem 0; 
    }

    .contactos from .imputcaja{
        position: center;
    }

    
}

.extra{
    text-align: center;
}

.extra .p{
    color: var(--texto2);
    font-size: 2rem;
}

.extra h2{
    color: var(--limon);
    font-size: 3.5rem;
}

.eventos .cajac .caja{
    flex: 1 1 30rem;
    background: white;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: 5rem;
    text-align: center;
    transition: .2s linear;
}

.eventos .cajac{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.eventos{
    background: url(img/navideño.jpg) no-repeat;
    background-position: center;
}

.eventos .cajac .caja{
    flex: 1 1 30rem;
    background: url(img/fondo_2.png);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: 5rem;
    text-align: center;
    transition: .2s linear;
}

.eventos .cajac{
    background: url(img/fondo2.png);
    background-position: center;
}

.eventos .cajac .caja h3{
    text-align: center;
    font-size: 2rem;
    color: var(--verde);
    padding-top: 1rem;
}

.eventos .cajac h2{
    text-align: center;
    color: var(--verde);
    font-size: 4rem;
}

.eventos .cajac .caja p{
    font-size: 1.8rem;
    color: var(--limon);
    padding: 1rem 0;
}

.eventos .cajac .f{
    color: var(--limon);
    font-size: 6rem;
    align-items: center;
}

.eventos .cajac .s{
    color: var(--verde);
    font-size: 6rem;
    align-items: center;
}



















